/* login.css */
:root{
    --color-primary: #03363D;
    --color-secondary: #6c757d;
    --color-hover: #00A680;
    --color-fondo: #DCE5F4;
    --color-blanco-transparente: rgba(245, 255, 255, 0.24);
    --color-blanco: #FFFFFF;
    --color-precio: #F4B909;
    --color-login-transparente: rgba(84, 84, 84, 0.80);
}
html{
    font-size: 62.5%; /* (1) */
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.p-login {
    font-size: 2rem;
    margin: 3rem 0;
}
.login-container {
    width: 30%;
    margin: 5rem auto;
    text-align: center;
}
.login-form{
    margin: 2rem;
    width: calc(100% - 4rem);
    padding: 3rem 2rem;
    border-radius: 1rem;
    border: .1rem solid #FFFFFF;
    background-color: var(--color-login-transparente);
    /* background-color: rgba(106, 106, 106, 0.4); */
}
.login-form .signin-text{
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
}
.input-group{
    width: 100%;
    padding: .5rem;
    margin: 3rem 0;
    border-radius: 1rem;
    border: .1rem solid #FFFFFF;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
}
.input-group input{
    width: 90%;
    height: 2.5rem;
    padding-left: .8rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    color: #FFFFFF;
    background-color: transparent;
}
.input-group input::placeholder {
    color: #FFFFFF;
    opacity: 0.8; /* Cambiar la opacidad del placeholder */
  }
  
.btn-signin{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    height: 3.5rem;
    text-decoration: none;
}
.btn-signin .signin-text{
    margin: .5rem auto;
}

.p-google{
    font-size: 1.6rem;
    margin: 3rem 0 0 0;
}
.social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: var(--color-login-transparente);
    border: .1rem solid #FFFFFF;
    cursor: pointer;
}

.social-media a{
    width: 100%;
    margin: 1rem auto;
}
.login-registro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.login-registro a{
    color: #FFFFFF;
    font-weight: bold;
}
.alert-danger{
    padding-top: 2rem;
    color: rgb(205, 47, 47);
    font-size: 1.5rem;
    text-align: left;
}
.success-login{
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: right;
}
.success-login p,
.success-login a{
    color: white;
}