/* .header{
    background-color: transparent;
} */
:root{
    --color-primary: #03363D;
    --color-secondary: #6c757d;
    --color-hover: #00A680;
    --color-fondo: #DCE5F4;
    --color-blanco-transparente: rgba(245, 255, 255, 0.24);
    --color-blanco: #FFFFFF;
}
html{
    font-size: 62.5%; /* (1) */
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    margin: 0;
    background-color: var(--color-fondo);
    font-family: "Krub", sans-serif;
}
.header{
    background-color: transparent;
}
.contenido-principal{
    background-image: url(/images/fondo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: var(--color-blanco);
    transition: background-image 1s ease-in-out;
}

.capa-inicial{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* anterior */
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
}

.contenido-text{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 10rem);
    justify-content: end;
}
.contenido-text h1{
    padding: 5rem 0;
    margin: 0;
    width: 70rem;
}

.main-principal{
    width: 80%;
    margin: 0 auto;
    background-color: var(--color-blanco);
}

.btn-leer{
    background-color: var(--color-primary);
    color: var(--color-blanco);
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

.section-content{
    display: flex;
    justify-content: space-between;
    padding: 5rem 1rem;
    background-color: var(--color-blanco);
    gap: 5rem;
    min-height: 33rem;
    box-shadow: 0rem .4rem 1rem rgba(0, 0, 0, 0.3);
}
.section-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-img{
    width: 50%;
    height: 100%;
}
.section-img img{
    width: 100%;
    height: auto;
    max-height: 33rem;
}

.section-titulos{
    padding: 2rem;
    background-color: var(--color-fondo);
    color: var(--color-primary);
    text-align: center;
}